<div class="page-new-itinerary">
  <div class="row">
    <div class="col-8 form-login new-itinerary d-flex">
      <%= simple_form_for itinerary do |f| %>
        <%= f.input :name, label: "Name your Itinerary", placeholder: "Name your itinerary like 'The best street art of Lisbon'", wrapper_html: {class: 'label'} %>
        <%= f.input :description, label: "Add a description", placeholder: "Add a description to explain your itinerary to friends, family and the Daytripper communty :)", wrapper_html: {class: 'label'} %>
        <%= f.input :photo, as: :file, input_html: { multiple: false }, label: "Add a photo", wrapper_html: {class: 'label'} %>
        <%= f.button :submit, 'Continue', class: 'btn btn-primary new-itinerary-btn' %>
      <% end %>
      <div>
       <%= image_tag("colorful-build.jpg", height: '500', width: '400',  class: 'new-itinerary-image')%>
      </div>
    </div>
  </div>
</div>
