  <% if @itinerary.photo.attached? %>
<div class="trip-overview trip-overview-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path @itinerary.photo.key, crop: :scale %>')">
  <% else %>
<div class="trip-overview">
  <% end %>
  <h1>Trip Overview</h1>
  <p class="itinerary-desription"><%= @itinerary.description %></p>

  <div class='align-items-end'>
    <div class="d-flex align-items-center">
      <i class="fas fa-map-marker-alt itinerary-icon"></i>
      <h2 class="detail-header">Total Stops: <%= @itinerary.locations.count %> </h2>
    </div>

    <div class="d-flex align-items-center ">
      <i class="far fa-clock itinerary-icon"></i>
      <h2 class="detail-header" id="trip-duration" data-duration="<%= itinerary.duration.to_json %>">Location Time: <%= duration(itinerary.duration) %>  </h2>
    </div>

    <div class="d-flex align-items-center align-self-end">
      <i class="fas fa-tag itinerary-icon"></i>
      <ul class="details-itinerary detail-header">
        <li style="font-weight: bold">Trip Type: </li>
        <% @itinerary.locations[0..2].each do |location| %>
        <li style="font-weight: bold"><%=location.tag_list.first%></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
