<div class="itinerary-user-details">
      <% if @itinerary.user.photo.attached? %>
        <%= cl_image_tag @itinerary.user.photo.key, width: 50, height: 50, radius: :max, gravity: :face%>
      <% else %>
        <i style="font-size: 32px" class="fas fa-user-circle"></i>
      <% end %>
      <%= @itinerary.user.username %>
    </div>
    <br>
    <br>
    <br>

      <h1>Highlights</h1>
      <ul class="details-itinerary">
        <li>Trip Stops <%= @itinerary.locations.count %></li>
        <li>Total Duration <%= duration(itinerary.duration) %></li>

        <li>Trip Highlights</li>
        <% @itinerary.locations.each do |location| %>
            <li><%=location.tag_list%></li>
        <% end %>
      </ul>

