<div class="card-location" data-location-id="<%= location.id %>">
  <% if location.photos.attached?%>
    <%= cl_image_tag location.photos.last.key, height:100, width: 100, :crop=>"scale"%>
  <% else%>
    <%= cl_image_tag 'yp95sgxwqvengyn1fwic', height:100, width: 100, :crop=>"scale" %>
  <% end %>
  <div class="card-location-infos ">
    <div class="card-location-header">
    <h2>
      <%=location.name %>
      </h2>
      <div class="header-icons">
      <% if policy(itinerary).destroy? %>
        <%= link_to edit_itinerary_location_path(itinerary, location) do %>
          <i class="fas fa-edit"></i>
          <% end %>
        <%= link_to itinerary_location_path(itinerary, location), method: :delete, remote: true do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
      </div>
    </div>
    <p class="max-lines"><%=location.description %></p>
    <div class='card-snapshots'>
      <!-- <h3><i class="fas fa-tag p-1"></i><%#=location.category%></h3> -->
      <h3 class="pr-1"><i class="far fa-clock p-1"></i><%=duration(location.duration) %></h3>
    </div>
  </div>
</div>
