
<%= simple_form_for([itinerary, location], remote: true) do |f| %>
  <div class=itinerary-large-fields>
    <%= f.input :address, label: false, placeholder: "Search for destinations"%>
    <%= f.input :name, label: false, placeholder: "Customize the name of your location" %>
  </div>
  <div class="form-short-box">
    <div class=" d-flex align-items-center">
      <i class="fas fa-tag icon-form"></i>
      <%= f.input :tag_list, label: false, placeholder: "Add Interest Tags", class: 'location-fields' %>
      </div>
    <div class="d-flex align-items-center text-sm">
      <i class="far fa-clock icon-form "></i>
      <%= f.input :duration, label: false, placeholder: "Time @Destination", class: 'text-sm' %>
    </div>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false%>
  </div>
  <div class= "d-flex align-items-center">

    <%= f.button :submit, 'Add Location', class: 'btn-location-add location-button' %>
  </div>
<% end %>
