<!-- <h1 id="index-h1">One itinerary a day, keeps the doctor away</h1> -->

<%= render "shared/search" %>

<% if @itineraries.empty? %>
  <%= render "shared/no_itineraries_index" %>
<% else %>

  <div class="index-container">
    <div class="cards">
      <% @itineraries.each do |itinerary| %>
          <div class="card-trip">
            <div class="index-click-map" data-markers="<%= itinerary.markers_method.to_json %>">
              <%= photo itinerary %>
            </div>
            <div class="card-trip-infos">
              <div class="card-left">
                <h2 class="pb-1"><%= itinerary.name %></h2>

                <p class="max-lines-index"><%= itinerary.description %></p>

                <%= link_to "Go on Itinerary", itinerary, class:"btn btn-primary btn-sm card-btn" %>
              </div>
              <div class="ratings-clock">
               <p class="pb-1"><%= rating(itinerary.reviews) %></p>
               <div class="clock-index">
                <p class="pr-1"><div><i class="far fa-clock p-1"></i></div>
                <%= duration(itinerary.duration) %></p>
               </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div
      id="map"
      class="map-index"
      style="width: 100%;
      height: 100vh;
      max-width: 50vw;
      top: 53px;
      position: sticky;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

<% end %>
