<h1>All</h1>
<%= link_to 'New Itinerary', new_itinerary_path  %>
<% @itineraries.each do |itinerary| %>
  <h2><%= itinerary.name %></h2>
  <p><%= duration(itinerary.duration) %></p>
  <br>
  <h3>Locations</h3>
  <% itinerary.locations.each do |location| %>
    <%= location.name %>
    <br>
  <% end %>
  <%= link_to 'See Itinerary', itinerary %>
  <hr>
<% end %>
