<%= link_to '🔙', itineraries_path %>

<% if policy(@itinerary).destroy? %>
  <%= link_to '🚮', @itinerary, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div class="row d-flex">
  <div class="h-100 col-4">
    <div>
      <h2><%= @itinerary.name %> </h2>
        <% if policy(Location).create? %>
          <%= link_to '➕ Add locations', new_itinerary_location_path(@itinerary) %>
        <% end %>
        <% if policy(@itinerary).destroy? %>
          (<%= link_to '✎', edit_itinerary_path(@itinerary) %>)
        <% end %>
        <hr>
    </div>

    <% @itinerary.locations.each do |location| %>
      <%= link_to itinerary_location_path(@itinerary, location) do %>
        <div class="card-location" data-location-id="<%= location.id %>">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-location-infos">
              <h2>
                <%= location.name %>
                <% if policy(@itinerary).destroy? %>
                  <%= link_to '(✎)', edit_itinerary_location_path(@itinerary, location) %>
                  <%= link_to '(🧨)', itinerary_location_path(@itinerary, location), method: :delete, remote: true %>
                <% end %>
              </h2>
              <p><%=location.description %></p>
              <div class='d-flex align-items-end justify-content-between '>
                <h3><i class="fas fa-tag p-1"></i><%=location.category%></h3>
                <h3 class="pr-1"><i class="far fa-clock p-1"></i><%=duration(location.duration) %></h3>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
      </div>

    <div class="h-100 col-8">
      <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    </div>

</div>
