<%= link_to '🔙', itineraries_path %>

  <% if policy(@itinerary).destroy? %>
    <%= link_to '🚮', @itinerary, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

<div class="row d-flex">
  <div class="h-100 col-4">
    <div>
      <h2><%= @itinerary.name %> </h2>
        <% if policy(Location).create? %>
          <%= link_to '➕ Add locations', new_itinerary_location_path(@itinerary) %>
        <% end %>
        <% if policy(@itinerary).destroy? %>
          (<%= link_to '✎', edit_itinerary_path(@itinerary) %>)
        <% end %>
        <hr>
    </div>

    <% @itinerary.locations.each do |location| %>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-location-infos">
        <h2><%=location.name %></h2>
        <p><%=location.description %></p>
        <div class='d-flex align-items-end justify-content-between '>
          <h3><i class="fas fa-tag p-1"></i><%=location.category%></h3>
          <h3 class="pr-1"><i class="far fa-clock p-1"></i><%=duration(location.duration) %></h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>

    <div class="h-100 col-7">
      <h1>FOR THE MAP</h1>
    </div>

</div>
