
<div class="row">
  <div class="col-4 window-view">
   <div class="itinerary-details">
      <h2 id="itinerary-name"><%= @itinerary.name %> </h2>
      <div class="itinerary-icons">
        <%= link_to itineraries_path do %>
          <i class="fas fa-arrow-circle-left"></i>
        <% end %>
        <% if policy(@itinerary).destroy? %>
          <%= link_to @itinerary, method: :delete, data: { confirm: 'Are you sure?' } do%>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="location-form" id="ajax-location-form">
      <%= render 'location_form', itinerary: @itinerary, location: @location %>
    </div>

    <div id="location-cards">
      <% @itinerary.locations.each do |location| %>
        <%= link_to itinerary_location_path(@itinerary, location) do %>

        <%= render 'location', itinerary: @itinerary, location: location %>

        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-8 p-0">
    <div
    id="map" class="itinerary-locations-map"
    style="width: 100%;
    height: 90vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>


